[submodule "pack/plugin/start/cscope_maps"]
	path = pack/plugin/start/cscope_maps
	url = git@github.com:xlongfeng/cscope_maps.git
[submodule "pack/plugin/start/nerdcommenter"]
	path = pack/plugin/start/nerdcommenter
	url = git@github.com:preservim/nerdcommenter.git
[submodule "pack/plugin/start/ale"]
	path = pack/plugin/start/ale
	url = git@github.com:dense-analysis/ale.git
[submodule "pack/plugin/start/vim-clang-format"]
	path = pack/plugin/start/vim-clang-format
	url = git@github.com:rhysd/vim-clang-format.git
