[submodule "pack/plugin/start/cscope_maps"]
	path = pack/plugin/start/cscope_maps
	url = git@github.com:xlongfeng/cscope_maps.git
[submodule "pack/plugin/start/nerdcommenter"]
	path = pack/plugin/start/nerdcommenter
	url = git@github.com:preservim/nerdcommenter.git
[submodule "pack/plugin/start/nerdtree"]
	path = pack/plugin/start/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule "pack/plugin/start/tagbar"]
	path = pack/plugin/start/tagbar
	url = git@github.com:preservim/tagbar.git
